.navbar-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-button{
    float: left;
}

.navbar-button-right{
    float: right;
}

.navbar-button a, .navbar-button-right a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-button a:hover:not(.active), .navbar-button-right a:hover:not(.active) {
    background-color: #111;
}

.navbar-button-active{
    background-color: #04AA6D;
    float: left;
}

.navbar-button-right-active{
    background-color: #04AA6D;
    float: right;
}

.navbar-button-active a, .navbar-button-right-active a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-button{
    
}